<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black h-screen flex flex-col items-center justify-center">
  <div class="w-full max-w-xs px-6">
<div class="mb-10 flex flex-col items-center">
  <div class="flex items-center space-x-3">
    
    <!-- Custom Logo -->
    <div class="w-16 h-16 bg-green-500 rounded-full flex items-center justify-center shadow-lg shadow-green-500/50">
      <span class="text-black font-bold text-2xl">🎵</span>
    </div>

    <!-- App Name -->
    <h1 class="text-3xl font-bold text-white tracking-wide">
      Dhop <span class="text-green-500">Music</span>
    </h1>

  </div>
</div>


    <div>
        <style>
            h5{
                color: red;
            }
        </style>
        
        {% for message in messages %}
        <h5>{{WELCOME TO DHOP MUSIC}}</h5>
        {% endfor %}
    </div>


    <form action="" method="POST" class="bg-black">
      {% csrf_token %}

      <div class="mb-4">
        <input class="bg-gray-800 text-white border border-gray-600 rounded py-2 px-4 block w-full appearance-none leading-normal" type="text" name="username" placeholder="Username">
      </div>
      <div class="mb-6">
        <input class="bg-gray-800 text-white border border-gray-600 rounded py-2 px-4 block w-full appearance-none leading-normal" type="password" name="password" placeholder="Password">
      </div>
      <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded w-full mb-4">Sign In</button>
      <p class="text-center text-gray-400 text-xs">
        Don't have an account?<a href="/signup" class="text-green-500"> Sign up</a>
      </p>
    </form>

    <p class="text-center text-gray-500 text-xs mt-4">
      &copy; Dhop Music. All rights reserved.
    </p>
  </div>
</body>
</html>
